body{
    width: max-content;
    max-width: 600px;
    text-align: center;
    background-color: #faf9f9;
}

h1
{
    margin: 10px 0px 10px 0px;
    font-family: 'Quicksand', sans-serif;   
    font-weight: 500;

    cursor: context-menu;
}

h2
{
    margin: 10px 0px 10px 0px;
    font-family: 'Quicksand', sans-serif;   

    cursor: context-menu;
}

button{
    font-family: 'Roboto', sans-serif;
    margin: 5px 30px 5px 30px;

    cursor: pointer;

    color: white;

    background-color: #2ea44f;
    border-color: rgba(27,31,35,.15);
    border: 1px solid;
    border-radius: 6px;

    transition: 0.25s;
}
button:hover{
    background-color: #278b44;
}

#Themes{
    width: auto;
    height: auto;
}

.Card{
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    justify-content: center;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.Card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}